@charset "utf-8";

@media screen and (min-width: 1200px) {
    /* ------------------------------------------- */
    /* header */
    #headerwrap{
        width: 1200px;
    }
    nav{
        display: none;
    }
    /* ------------------------------------------- */
}
@media screen and (max-width:1199px) and (min-width: 980px) {
/* ------------------------------------------- */
    /* header */
    #headerwrap{
        width: 980px;
    }
    nav{
        display: none;
    }
    /* ------------------------------------------- */
}
@media screen and (max-width:979px) and (min-width: 580px) {
    /* ------------------------------------------- */
    /* header */
    #headerwrap{
        width: 90%;height: 100%;
    }
    header>#headerwrap>h1 a{margin:0 auto; width:40px;}
    header>#headerwrap>.menu{
        display: none;
    }
    #headerwrap>ul>li {
        padding:0;
    }
    header>#headerwrap>.login>li{
        width:50px;
        font-size: 12px;
        font-weight: normal;
    }

    /* ------------------------------------------- */
}
@media screen and (max-width:579px) {
    /* ------------------------------------------- */
    /* header */
    #headerwrap{
        width: 90%;height: 100%;
    }
    header>#headerwrap>h1 a{margin:0 auto; width:40px;}
    header>#headerwrap>.menu{
        display: none;
    }
    #headerwrap>ul>li {
        padding:0;
    }
    header>#headerwrap>.login>li{
        width:50px;
        font-size: 12px;
        font-weight: normal;
    }

    /* ------------------------------------------- */
}